@use "./variables" as *;

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  margin: 0;
  padding: 0;
}

html {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: $base-font;
  font-size: 14px;
  line-height: 1.4;
  font-weight: 400;
  color: $color-brown-darkest;
  max-width: 100%;
  overscroll-behavior-y: none;
  background-color: $color-bg-page;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  font-family: $font-title
}

ul,
ol {
  margin: 0;
  padding: 0;
}

a, p {
  color: inherit;
  text-decoration: none;
  font-family: $base-font;
}

button {
  font: inherit;
  color: inherit;
  cursor: pointer;
  background: none;
  border: none;
  font-family: $base-font;
}

input,
textarea,
select {
  font: inherit;
  color: inherit;
  font-family: $base-font;
}

:focus-visible {
  outline: none;
}

img,
svg,
video {
  max-width: 100%;
  height: auto;
  display: block;
}

::placeholder {
  color: grey;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  box-sizing: border-box;
}

main{
  min-height: calc(100% - 192px);
}
